/*browser reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------end reset--------------------------------*/
html {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  color: #2f2f2f;
}
.hero img{
  width: 100%;
  margin-top: -8px;
}
.header-background {
  margin: -15px;
	background: black;
}
h3.column-title{
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
button {
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #fff;
	padding: 7px 10px;
	font-size: 16px;
}
select {
	font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 15px;
  width: 45%;
	min-width: 500px;
  margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #d6d6d6;
}
.container {
  max-width: 1100px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
selet, input {
  font-size: 18px;
}
label {
  display: block;
	margin-bottom: 7px;
	margin-top: 15px;
}
p {
  margin-bottom: 10px;
}
h2, h3, h4, h5, h6 {
	font-family: 'Bungee', cursive;
}
.hide {
	display: none;
}
#copyTarget {
	position: absolute;
	margin-left: -3000px;
}
/*----------------------------------Themes--------------------------------*/
h1#nameDisplay {
	font-family: 'Bungee Shade', sans-serif;
	text-align: center;
  font-size: 100px;
  margin-top: 15px;
  margin-bottom: 0px;
}
h2#themeDescription {
	text-align: center;
	font-size: 35px;
	margin-top:10px;
	margin-bottom: 30px;
}
#TrumpSum button {
	border: 1px solid #ff533c;
	background-color: #fcecbe;
}
#TrumpSum .header-background{
	background: #ff533c;
}
#TrumpSum h3.column-title{
  color: rgb(252, 236, 190);
}
#TrumpSum #ipsumOutput h3 {
  color: rgb(214, 115, 83);
}
#Bi-Winning-Ipsum button {
	color: #2c4897;
	border: 1px solid #2c4897;
	background-color: rgba(127, 160, 255, 0.13);
}
#Bi-Winning-Ipsum h3.column-title{
	color: rgb(243, 206, 178);
}
#Bi-Winning-Ipsum .header-background {
	background: #2c4897;
}
#Bi-Winning-Ipsum #ipsumOutput h3 {
  color: #2c4897;
}
#YeezIpsum button {
	border: 1px solid #fc3768;
	color: #fc3768;
	background-color: rgba(255, 252, 77, 0.28);
}
#YeezIpsum h3.column-title{
  color: rgb(255, 252, 77);
}
#YeezIpsum .header-background {
	background: #fc3768;
}
#YeezIpsum #ipsumOutput h3 {
  color: #fc3768;
}

#themeDescription p {
  font-size: 1.3em;
  font-family: 'Bungee', cursive;
}

#ipsumOutput {
  margin-top: 20px;
	margin-bottom: 4px;
	max-height: 200px;
	overflow: auto;
}
#ipsumOutput h3 {
  text-align: center;
  font-size: 2em;
}
#stagingArea {
	margin-top: 20px;
	margin-bottom: 20px;
}
#stagingArea ul {
    list-style-image: url('../img/wall.png');
		list-style-position: inside;
}
#stagingArea ul li:hover {
		cursor: crosshair;
    list-style-image: url('../img/target.png');
		list-style-position: inside;
}
#Bi-Winning-Ipsum #stagingArea ul {
    list-style-image: url('../img/pill.png');
		list-style-position: inside;
}
#Bi-Winning-Ipsum #stagingArea ul li:hover {
    list-style-image: url('../img/mallet.png');
}
#YeezIpsum #stagingArea ul {
    list-style-image: url('../img/sun-glasses.png');
		list-style-position: inside;
}
#YeezIpsum #stagingArea ul li:hover {
    list-style-image: url('../img/thumbs-down-icon.png');
}

#motto {
	text-align: center;
	font-family: serif;
}

#copyTarget {
	display: hidden;
}

#makeItRED {
	color: rgba(256, 34, 49, 1);
	text-shadow: 1px 1px 20px #999;
}

#makeItLESSred {
	color: rgba(256, 34, 49, .8);
	text-shadow: 1px 1px 16px #999;
}

#evenLESS {
	color: rgba(256, 34, 49, .6);
	text-shadow: 1px 1px 10px #999;
}

#littleMore {
	color: rgba(256, 34, 49, .4);
	text-shadow: 1px 1px 8px #999;
}

#thereYouGo {
	color: rgba(256, 34, 49, .2);
	text-shadow: 1px 1px 4px #999;
}

#makeYourOwn {
	float: right;
}

/*-------------- Media Queries ----------------*/
@media only screen and (max-width: 1030px ) {
	.flex-item {
	  padding: 15px;
	  width: 80%;
		min-width: 500px;
	  margin-top: 10px;
	}
}
